<article class="c-card js-card">
  <img class="c-card__img" src={{image}} />
  <ul class="u-mt-">
    <li class="u-float-left">{{>"icon" iconName="eye" }} {{views}}</li>
    <li class="u-float-right u-ml">{{>"icon" iconName="like" }} {{likes}}</li>
    <li class="u-float-right">{{>"icon" iconName="comment" }} {{comments}}</li>
  </ul>
</article>
