/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * Keyframes
 */
@keyframes slideUpIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes slideDownIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
/**
 * Base
 */
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  display: flex;
  overflow: hidden;
  height: 100%;
}

body {
  margin: auto;
  width: 100%;
  height: 56.25vw;
  text-align: center;
  padding: 2.08vw 5.21vw 5.21vw;
  background-image: repeating-linear-gradient(to right, transparent, transparent 16.667%, #f0f1f2 calc(16.667% + 1px), transparent 0);
  background-position: top left -1px;
}


/**
 * Objects
 */
/* Nothing here, move along */


/**
 * Components
 */
.c-icon {
  width: 1.25vw;
  height: 1.25vw;
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.c-icon--large {
  width: 2.5vw;
  height: 2.5vw;
}

.c-icon--dribbble {
  fill: #ea4c89;
}

.c-card {
  background: #fff;
  color: #a1a1a1;
  line-height: 1.25vw;
  box-shadow: 0 0.26vw 4.17vw rgba(0,0,0, .4);
  width: 41.67vw;
  overflow: hidden;
  padding: 1.04vw 1.04vw 0.78vw;
}

.c-card:first-child {
  float: left;
  animation: slideDownIn .6s cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
  animation-fill-mode: forwards;
}

.c-card.is-leaving:first-child {
  animation: slideDownOut .6s cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
  animation-fill-mode: forwards;
}

.c-card:last-child {
  float: right;
  margin-top: 5.21vw;
  animation: slideUpIn .6s cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
  animation-fill-mode: forwards;
}

.c-card.is-leaving:last-child {
  animation: slideUpOut .6s cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
  animation-fill-mode: forwards;
}

  .c-card__img {
    width: 100%;
    height: auto;
  }

/**
 * Trumps
 */

.u-float-left {
  float: left !important;
}

.u-float-right {
  float: right !important;
}

.u-ml {
  margin-left: 1.04vw !important;
}

.u-mb\+\+ {
  margin-bottom: 4.17vw !important;
}

.u-mt- {
  margin-top: 0.52vw !important;
}


/*# sourceMappingURL=app.css.map*/
